.app-header{
    font-size: 5em;
    margin-top: 60px;
}

#control{
    margin-top: 60px;
}

.active{
    background-color: white;
    border: 1px solid gray;
    color: black;
}

#control button{
    width: 100px;
}